<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--부트 스트랩-->
<link rel="stylesheet" href="../../bootStrap/bootstrap-theme.css">
<link rel="stylesheet" href="../../bootStrap/bootstrap.css">

<!--custom-->
<link rel="stylesheet" href="../../style.css">

<title>회원가입</title>
</head>
<style>
.error-border {
	border: 1px solid red;
}
</style>
<body class="joinForm">
	<form action="#none" th:action method="post" th:object="${joinForm}"
		enctype="multipart/form-data">
		<div class="container">
			<div class="row text-center">
				<h3>회원가입</h3>
			</div>
			<div class="row text-center">
				<div>
					<p>
						<img class="demo-img" id="joinForm-profile-img" alt="쉐프 마크">
					</p>
					<p>
						<input value="" type="file" th:field="*{joinFormProfileImgFile}"
							accept=".jpg, .png" style="margin: 0; display: none;">
					</p>
					<div class="text-danger" th:errors="*{joinFormProfileImgFile}">
						프로필 이미지 오류</div>
					<p>
						<button class="btn btn-primary" id="joinForm-btn-profile-img"
							type="button">프로필 등록</button>
					</p>
				</div>
				<div>
					<p>
					<div class="text-danger" th:errors="*{joinFormAccountId}">아이디
						오류 메시지</div>
						<input th:field="*{joinFormAccountId}" type="text"
							placeholder="아이디" th:errorclass="error-border">
					</p>
					<div th:if="${#fields.hasGlobalErrors()}">
						<p class="text-danger" th:each="err : ${#fields.globalErrors()}"
							th:text="${err}">글로벌 오류 메시지</p>
					</div>


					<p>
						<div class="text-danger" th:errors="*{joinFormPassword}">패스워드
						오류 메시지</div>
						<input th:field="*{joinFormPassword}" type="password"
							placeholder="비밀번호" th:errorclass="error-border">

					</p>
					
					<p>
						<input th:field="*{joinFormConfirmPassword}" type="password"
							placeholder="비밀번호 확인" th:errorclass="error-border">
					</p>
								
					<p>
					<div class="text-danger" th:errors="*{joinFormNickName}">닉네임 오류 메시지</div>
						<input th:field="*{joinFormNickName}" type="text" placeholder="닉네임"
							th:errorclass="error-border">
					</p>
					
					
					<p>
						<div class="text-danger" th:errors="*{joinFormSelfIntroduction}">자기소개 오류 메시지</div>
						<textarea th:field="*{joinFormSelfIntroduction}" cols="25"
							rows="5" placeholder="100자 이내의 짦은 소개를 써주세요" maxlength="100"
							style="resize: none;" th:errorclass="error-border"></textarea>
					</p>
					
				</div>
			</div>
			<div class="row text-center">
				<button class="btn btn-primary" id="joinForm-btn-before"
					type="button" onclick="location.href='/'">이전으로</button>
				<button class="btn btn-primary" id="joinForm-btn-join" type="submit">가입하기</button>
			</div>
		</div>
	</form>
	<!--부트 스트랩-->
	<script src="../js/bootstrap.js"></script>
	<!--common.js-->
	<script src="../../common.js"></script>
	<!-- specific -->
	<script src="/js/joinForm.js"></script>
</body>
</html>