/*######################joinForm##########################*/
input[type="file"]{
  display:inline-block
}
#joinForm-profile-img {
  width: 100px;
  border-radius: 50%;
}

input[type="text"], input[type="password"], textarea{
  outline: none;
  border-radius: 3px;
  border: 1px solid gray;
  transition: 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
  border: 1px solid rgb(82, 201, 143);
  box-shadow: 0 0 3px rgb(82, 201, 143);
}

input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder, textarea:focus::placeholder{
  transition: 0.3s;
 color: transparent;
}