/* ############################### Spot ################################ */
.text-head {
	text-align: center;
	margin: 30px 0;
	padding: 20px 40px 10px 40px;
}

#main-spot-img {
	display: block;
	width: 300px;
	margin: auto;
}

.spot-info-warapper>div {
	padding: 5px 20px;
	font-size: 16px;
}

.spot-introduction {
	word-break: break-all;
}

.spot-image-area img {
	width: 150px;
	margin: 10px;
}

/*######### layout-comment-area #########*/
.layout-comment-area {
	padding-top: 20px;
}

.comment {
	border-radius: 5px;
	width: 342px;
	margin: auto;
	overflow: hidden;
}

.comment-middle {
	overflow: hidden;
}

.comment-middle .img-frame {
	padding-top: 5px;
	text-align: center;
	width: 60px;
	float: left
}

.img-commet-profile {
	width: 50px;
	max-height: 50px;
	margin-bottom: 3px;
}

.comment-middle .text-frame {
	width: 270px;
	padding: 5px;
	float: left;
}

.comment-summary {
	cursor: pointer;
	min-height: 16px;
	word-break: break-all;
}

.comment-detail{
	word-break: break-all;
}

.comment .registered-time-frame>div {
	float: left;
}

.comment .btn-frame {
	/* border: 1px solid red; */
	margin-left: 30px;
	margin-top: 10px;
}

.comment .btn-frame .form-delete {
	display: inline-block;
}

.comment .registered-time {
	margin-top: 15px;
}

.comment-bottom {
	overflow: hidden;
	background-color: rgb(180, 240, 214);
}

.comment-bottom .nickname-frame {
	float: left;
	padding-left: 10px;
	padding-top: 6px;
	width: 180px;
	font-size: 16px;
}

.comment-bottom .starpoint-frame {
	float: left;
	width: 150px;
	padding-top: 5px;
	padding-left: 30px;
}
/* comment modification form */


.details-comment-modification {
	float: left;
}

.summary-comment-modification{
	display: none;
}

.modification-frame{
	padding-top: 10px;
	padding-left: 15px;
}

textarea {
	outline: none;
	resize: none;
	border-radius: 3px;
	margin-top: 3px;
	transition: 0.3s;
}

.btn-modification-comment {
	margin-top: 3px;
	margin-bottom: 15px;
	font-size: 16px;
	width: 100px;
	height: 25px;
	border-radius: 3px;
	padding: 1px;
}

.btn-modification-cancel {
	margin-top: 3px;
	margin-bottom: 15px;
	font-size: 16px;
	width: 100px;
	height: 25px;
	border-radius: 3px;
	padding: 1px;
}

/* comment form */
.btn-leave-comment {
	margin-top: 10px;
	margin-left: 240px;
	font-size: 16px;
	border-radius: 3px;
	height: 35px;
	border-radius: 5px;
}

.comment-form-wrapper summary {
	background: rgb(82, 114, 208);
	display: none;
}

textarea {
	outline: none;
	resize: none;
	border-radius: 3px;
	margin-top: 3px;
	transition: 0.3s;
}

.btn-leave-comment2 {
	margin-top: 3px;
	margin-bottom: 30px;
	font-size: 16px;
	width: 100px;
	height: 25px;
	border-radius: 3px;
	padding: 1px;
}

textarea:focus {
	border: 1px solid rgb(82, 201, 143);
	box-shadow: 0 0 3px rgb(82, 201, 143);
}

textarea:focus::placeholder {
	transition: 0.3s;
	color: transparent;
}

/*######### layout-visitor-info ##########*/
.visitor-info-wrapper {
	text-align: center;
	font-size: 16px;
	margin: 50px 0;
}

.visitor-info-wrapper>div {
	margin: 20px 0;
}

.visitor-profile-img {
	width: 150px;
	border-radius: 50%;
}

.reliabilitySystem {
	margin: auto;
}

.footer button {
	font-size: 20px;
	margin-bottom: 15px;
	height: 40px;
	width: 120px;
}