<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--부트 스트랩-->
<link rel="stylesheet" th:href="@{/bootStrap/bootstrap-theme.css}"
	href="../../static/bootStrap/bootstrap-theme.css">
<link rel="stylesheet" th:href="@{/bootStrap/bootstrap.css}"
	href="../../static/bootStrap/bootstrap.css">

<!--custom-->
<link rel="stylesheet" th:href="@{/common.css}"
	href="../../static/common.css">
<link rel="stylesheet" th:href="@{/css/loginUserInfo.css}"
	href="../../static/css/loginUserInfo.css">

<title>User Info</title>
</head>
<style>
.error-border {
	border: 1px solid red;
}
</style>
<body>
	<form action="#none" th:action method="post"
		th:object="${userInfoChangeForm}" enctype="multipart/form-data">
		<div class="container">
			<div class="row text-center">
				<h3 class="text-shefGreen">회원정보</h3>
			</div>
			<div class="row text-center">
				<div>
					<p>
						<img th:src="@{/img/loginUserProfile}" th:class="''"
							class="demo-img" id="profile-img" alt="쉐프 마크">
					</p>
					<p>
						<input value="" id="profileImgFile" type="file"
							th:field="*{profileImgFile}" accept=".jpg, .png"
							style="margin: 0; display: none;">
					</p>
					<div class="text-danger" th:errors="*{profileImgFile}">프로필
						이미지 오류</div>
					<p>
						<button class="btn-subGreen" id="btn-profile-img" type="button">프로필
							이미지 변경</button>
					</p>
				</div>
				<div>
					<p>
						<input id="accountId" th:field="*{accountId}" type="text"
							placeholder="아이디" readonly>
					</p>
					
					<p>
					<div>가입일</div>
					<div th:text="${#temporals.format(registeredTime, 'yyyy-MM-dd')}">2010-06-01</div>
					</p>

					<div th:if="${#fields.hasGlobalErrors()}">
						<p class="text-danger" th:each="err : ${#fields.globalErrors()}"
							th:text="${err}">글로벌 오류 메시지</p>
					</div>

					<div class="modify-password-frame">
					<div class="text-danger" th:errors="*{newPassword}">변경 패스워드 오류 메시지</div>
					<button class="btn-subGreen btn-modify-password" type="button">비밀변호 변경하기</button>	
					<details>
					<summary class="summary-modify-password"></summary>
					<p>
					<input th:field="*{newPassword}" type="password" placeholder="새로운 비밀번호" th:errorclass="error-border" maxlength="16">
					</p>

					<p>
						<input th:field="*{confirmNewPassword}" type="password"
							placeholder="새로운 비밀번호 확인" th:errorclass="error-border" maxlength="16">
					</p>
					</details>
					
					</div>
					

					<p>
					<div>닉네임 변경</div>
					<div class="text-danger" th:errors="*{nickName}">닉네임 오류 메시지</div>
					<input th:field="*{nickName}" type="text" placeholder="닉네임"
						th:errorclass="error-border">
					</p>


					<p>
					<div>자기소개 변경</div>
					<div class="text-danger" th:errors="*{selfIntroduction}">자기소개
						오류 메시지</div>
					<textarea th:field="*{selfIntroduction}" cols="25" rows="5"
						placeholder="100자 이내의 짦은 소개를 써주세요" maxlength="100"
						style="resize: none;" th:errorclass="error-border"></textarea>
					</p>

					<p>
					<div>비밀번호</div>
					<div class="text-danger" th:errors="*{password}">비밀번호 오류 메시지</div>
					<input th:field="*{password}" type="password"
						placeholder="원래 비밀번호" th:errorclass="error-border" maxlength="16">
					</p>

				</div>
			</div>
			<div class="row text-center footer">
				<button class="btn-shefGreen" type="button"
					onclick="location.href='/'">홈으로</button>
				<button class="btn-shefGreen btn-left" type="button">탈퇴하기</button>
				<button class="btn-shefGreen" type="submit">적용하기</button>
			</div>
		</div>
	</form>
	<!--부트 스트랩-->
	<script th:src="@{/bootStrap/bootstrap.min.js}"
		src="../../static/bootStrap/bootstrap.min.js"></script>
	<!--common.js-->
	<script th:src="@{/common.js}" src="../../static/common.js"></script>
	<!-- specific -->
	<script th:src="@{/js/loginUserInfo.js}"
		src="../static/js/loginUserInfo.js"></script>
</body>
</html>