/* ########################## relationshipResponseBox ############################# */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  height: 60px;
  width: 400px;
  border-radius: 16px;
  border-bottom: 1px solid gray;
  background-color: rgb(242, 252, 255);
  margin: auto;
  margin-top: 2px;
  text-align: center;
  overflow: hidden;
}

li span {
  display: inline-block;
}

.user-info, .added-text-frame, .btn-frame{
  position: relative;
  height: inherit;
}  

.user-info {
  width: 100px;
}
.added-text-frame {
  width: 70px;
  font-size: 15px;
}

.btn-frame {
 width: 175px;
}

.nickName,.added-text,.btns-response{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  word-break: break-all;
  width: inherit;
  text-align: center;
} 

.nickName{
  font-size: 16px;
}

.btn-reject, .btn-accept{
  font-size: 16px;
  padding: 2px;
  height: 25px;
  width: 60px;
  margin-left: 10px;
}

.btn-rejected, .btn-accepted{
  padding: 2px;
  width: 100px;
  height: 25px;
}

.input-delete{
  margin-left: 10px !important;
  transform: scale(1.2);
  display: none;
}

.btns-footer {
  text-align: center;
}


