<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--fontawesome-->
        <link rel="stylesheet" th:href="@{/library/fontawesome/all.min.css}" href="../../static/library/fontawesome/all.min.css">
        <!--부트 스트랩-->
        <link
            rel="stylesheet"
            href="../../static/bootStrap/bootstrap-theme.css"
            th:href="@{/bootStrap/bootstrap-theme.css}">
        <link
            rel="stylesheet"
            href="../../static/bootStrap/bootstrap.css"
            th:href="@{/bootStrap/bootstrap.css}">

        <!-- slick slider-->
        <link
            rel="stylesheet"
            href="../../static/library/slick/slick-theme.css"
            th:href="@{library/slick/slick-theme.css}">
        <link
            rel="stylesheet"
            href="../../static/library/slick/slick.css"
            th:href="@{library/slick/slick.css}">

        <!--css-->
        <link rel="stylesheet" href="../../static/common.css" th:href="@{/common.css}">
        <link rel="stylesheet" th:href="@{/css/loginHome.css}" href="/static/css/loginHome.css">

        <title>loginHome</title>
    </head>
    <body>
        <div class="container text-center">
            <div class="row">
                <h1 class="text-shefGreen">로그인 홈</h1>
            </div>
            <div class="row">
                <h3 class="text-success" style="margin-bottom: 20px;">최근에 업데이트 된 우리들의 맛집정보!</h3>
            </div>
            <div class="row">
                <div class="user-spot-slider">
                    <div th:each="recentAcquaintanceSpotDto : ${recentAcquaintanceSpotDtoList}">
                        <div class="user-spot">
                            <div class="spot-info-left">
                                <div class="img">
                                    <img
                                        th:src="@{/img/userProfile/{storeName}(storeName= ${recentAcquaintanceSpotDto.acquaintance.profileImgStoreName})}"
                                        th:class="img-circle"
                                        class="img-circle demo-img">
                                </div>
                                <div th:text="${recentAcquaintanceSpotDto.acquaintance.nickName}">홍길동</div>
                                <div class="reliabilitySystem">
                                    <input class="input-reliability-size" type="hidden" th:value="${recentAcquaintanceSpotDto.acquaintance.reliability}" value="-1">
                                    <div class="reliabilityText">신뢰도</div>
                                    <div class="gaugeBar">
                                        <div class="back"></div>
                                        <div class="front"></div>
                                    </div>
                                </div>
                                <div class="star-point">
                                    <div>
                                        <div>등록자 평점</div>
                                        <div class="starPointSystem">
                                            <input
                                                th:value="${recentAcquaintanceSpotDto.recentSpot.registrantStarPoint}"
                                                th:name="starPoint"
                                                class="input-star-point"
                                                type="text"
                                                value="10"
                                                required="required">
                                            <div class="star-point-area">
                                                <div class="star-front"></div>
                                                <div class="star-back"></div>
                                                <div class="click-areas">
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div th:if="${recentAcquaintanceSpotDto.recentSpot.usersStarPoint} == -1">
                                            방문 지인 없음</div>
                                        <div th:if="${recentAcquaintanceSpotDto.recentSpot.usersStarPoint} != -1">
                                            <div>지인들 평점</div>
                                            <div class="starPointSystem">
                                                <input
                                                    th:value="${recentAcquaintanceSpotDto.recentSpot.usersStarPoint}"
                                                    th:name="starPoint"
                                                    class="input-star-point"
                                                    type="text"
                                                    value="10"
                                                    required="required">
                                                <div class="star-point-area">
                                                    <div class="star-front"></div>
                                                    <div class="star-back"></div>
                                                    <div class="click-areas">
                                                        <div class="click-area"></div>
                                                        <div class="click-area"></div>
                                                        <div class="click-area"></div>
                                                        <div class="click-area"></div>
                                                        <div class="click-area"></div>
                                                        <div class="click-area"></div>
                                                        <div class="click-area"></div>
                                                        <div class="click-area"></div>
                                                        <div class="click-area"></div>
                                                        <div class="click-area"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:text="'방문 ' + ${recentAcquaintanceSpotDto.recentSpot.visits}">방문수</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="spot-info-right">
                                <div>
                                    <div>
                                        <a th:href="@{/spot/spot/{spotId}(spotId =${recentAcquaintanceSpotDto.recentSpot.id})}" href="#none">
                                            <img
                                                th:src="@{/img/spotMain/{storeName}(storeName =${recentAcquaintanceSpotDto.recentSpot.mainImgStoreName})}"
                                                th:class="img-rounded"
                                                class="img-rounded demo-img">
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="spot-name"
                                    th:text="${recentAcquaintanceSpotDto.recentSpot.spotName}">식당 이름</div>
                                <div>
                                    <div
                                        th:text="${#temporals.format(recentAcquaintanceSpotDto.recentSpot.registeredTime, 'yyyy-MM-dd')}">0000-00-00</div>
                                </div>
                            </div>
                            <div class="spot-info-bottom">
                                <div th:text="${recentAcquaintanceSpotDto.recentSpot.spotIntroduction}">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda non animi
                                    similique minus possimus? Repellat necessitatibus a dicta provident porro
                                    tempore quod omnis ex rem. Recusandae nesciunt quos illum quia voluptatibus, ea
                                    officiis
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pager-container">
                    <div class="pager-arrow">
                        <a>
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <div class="page-container">
                        <div class="page-list">
                            <a class="page-num current-page-num">1</a>
                            <a class="page-num">2</a>
                            <a class="page-num">3</a>
                            <a class="page-num">4</a>
                            <a class="page-num">5</a>
                        </div>
                    </div>
                    <div class="pager-arrow">
                        <a>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class="pager-navigator">1/10</div>
                </div>
            </div>
            <div class="row">
                <div class="my-recent-spot">
                    <div class="head-text">
                        최근 업데이트 된 나의 맛집
                    </div>
                    <div class="user-spot">
                        <div class="spot-info-left">
                            <div class="img">
                                <img
                                    th:src="@{/img/loginUserProfile}"
                                    th:class="img-circle"
                                    class="img-circle demo-img">
                            </div>
                            <div th:text="${loginUserDto.nickName}">홍길동</div>
                            <div class="reliabilitySystem">
                                <input class="input-reliability-size" type="hidden" th:value="${loginUserDto.reliability}" value="-1">
                                <div class="reliabilityText">신뢰도</div>
                                <div class="gaugeBar">
                                    <div class="back"></div>
                                    <div class="front"></div>
                                </div>
                            </div>
                            <div class="star-point">
                                <div>
                                    <div>등록자 평점</div>
                                    <div class="starPointSystem">
                                        <input
                                            th:value="${loginUserRecentSpotDto.registrantStarPoint}"
                                            th:name="starPoint"
                                            class="input-star-point"
                                            type="text"
                                            value="10"
                                            required="required">
                                        <div class="star-point-area">
                                            <div class="star-front"></div>
                                            <div class="star-back"></div>
                                            <div class="click-areas">
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div th:if="${loginUserRecentSpotDto.usersStarPoint} == -1">
                                        방문 유저 없음</div>
                                    <div th:if="${loginUserRecentSpotDto.usersStarPoint} != -1">
                                        <div>유저들 평점</div>
                                        <div class="starPointSystem">
                                            <input
                                                th:value="${loginUserRecentSpotDto.usersStarPoint}"
                                                th:name="starPoint"
                                                class="input-star-point"
                                                type="text"
                                                value="10"
                                                required="required">
                                            <div class="star-point-area">
                                                <div class="star-front"></div>
                                                <div class="star-back"></div>
                                                <div class="click-areas">
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                    <div class="click-area"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div th:text="'방문 ' + ${loginUserRecentSpotDto.visits}">방문수</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spot-info-right">
                            <div>
                                <div>
                                    <a href="#none">
                                        <img
                                            th:src="@{/img/loginUserRecentRegisterationSpot}"
                                            th:class="img-rounded"
                                            class="img-rounded demo-img">
                                    </a>
                                </div>
                            </div>
                            <div
                                class="spot-name"
                                th:text="${loginUserRecentSpotDto.spotName}">식당 이름</div>
                            <div>
                                <div
                                    th:text="${#temporals.format(loginUserRecentSpotDto.registeredTime, 'yyyy-MM-dd')}">0000-00-00</div>
                            </div>
                        </div>
                        <div class="spot-info-bottom">
                            <div th:text="${loginUserRecentSpotDto.spotIntroduction}">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda non animi
                                similique minus possimus? Repellat necessitatibus a dicta provident porro
                                tempore quod omnis ex rem. Recusandae nesciunt quos illum quia voluptatibus, ea
                                officiis
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer">
                <div class="col">
                    <div>
                        <button
                            id="btn-spot-registration-i1"
                            class="btn-shefGreen"
                            type="button"
                            onclick="location.href='/spot/registeration'">맛집 등록하기</button>
                    </div>
                    <div>
                        <button id="btn-my-spot-i1" class="btn-shefGreen">나의 맛집</button>
                        <button id="btn-my-acquaintance-i1" class="btn-shefGreen">지인 리스트</button>
                    </div>
                    <div>
                        <button class="btn-shefGreen btn-logout">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
         	<!--jQuery-->
            <script
                src="../../static/library/jquery-2.1.4.js"
                th:src="@{/library/jquery-2.1.4.js}"></script>
            <!--cummon.js-->
            <script src="../../static/common.js" th:src="@{/common.js}"></script>
            <!--slik slider-->
            <script
                src="../../static/library/slick/slick.js"
                th:src="@{/library/slick/slick.js}"></script>
            <!--custom.js-->
            <script th:src="@{/js/loginHome.js}" src="../../static/js/loginHome.js"></script>
            <!--fontawesome-->
            <script th:src="@{/library/fontawesome/all.js}" src="../../static/library/fontawesome/all.js"></script>
    </body>
</html>