<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NotFound</title>

  <!-- common -->
  <link rel="stylesheet" href="/static/common.css">
  <!-- specific -->
  <link rel="stylesheet" href="/static/css/404.css">
</head>
<body>
  <img src="/static/img/shefMarkError.png">
  <div class="text-shefGreen">서버에 오류가 발생하였습니다.</div>
  <script src="/static/common.js"></script>
</body>
</html>