<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--부트 스트랩-->
        <link rel="stylesheet" href="../../static/bootStrap/bootstrap-theme.css">
        <link rel="stylesheet" href="../../static/bootStrap/bootstrap.css">

        <!--css-->
        <link rel="stylesheet" href="../../static/common.css">
        <link rel="stylesheet" href="../../static/css/spot.css">

        <!-- fontawesome -->
        <link rel="stylesheet" href="../../static/library/fontawesome/all.min.css">

        <title>Document</title>
    </head>
    <body class="spot">
        <div class="container">
            <div class="row">
                <h1 class="text-head text-primary">
                    맛집 제목
                </h1>
            </div>
            <div class="row">
                <div class="col-md-4 layout-1"></div>
                <div class="col-md-4 layout-2">
                    <div>
                        <img id="main-spot-img" class="demo-img" alt="메인 스폿 이미지">
                    </div>
                    <div class="spot-info-warapper">
                        <div class="users-star-point-frame">
                            <div>총점</div>
                            <div class="starPointSystem">
                                <input class="input-star-point" type="text" value="10" required="required">
                                <div class="star-point-area">
                                    <div class="star-front"></div>
                                    <div class="star-back"></div>
                                </div>
                            </div>
                        </div>
                        <div class="registrant-star-point-frame">
                            <div>등록자 평점</div>
                            <div class="starPointSystem">
                                <input class="input-star-point" type="text" value="10" required="required">
                                <div class="star-point-area">
                                    <div class="star-front"></div>
                                    <div class="star-back"></div>
                                </div>
                            </div>
                        </div>
                        <div class="registeration-time-frame">등록 날짜</div>
                        <div class="spot-introduction-frame">
                            <p class="spot-introduction">
                                맛집 설명 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet,
                                possimus amet non dolore laboriosam fugiat exercitationem quam veritatis fuga
                                ea, voluptatibus voluptates minus cupiditate perspiciatis culpa velit ex
                                provident! Non.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 layout-3 spot-image-area">
                    <img class="demo-img">
                    <img class="demo-img">
                    <img class="demo-img">
                    <img class="demo-img">
                    <img class="demo-img">
                    <img class="demo-img">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 layout-comment-area">
                    <div class="comments-wrapper">
                        <div class="comment bg-info">
                            <div class="comment-middle">
                                <div class="img-frame">
                                    <img class="img-rounded demo-img" style="width: 50px;"></img>
                                </div>
                                <div class="text-frame">
                                    <details>
                                        <summary>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure laborum
                                            quasi mollitia.
                                        </summary>
                                        <div>Fugit adipisci nostrum recusandae ex placeat deserunt, optio aliquid
                                        </div>
                                        <div>2000-10-15 11-00</div>
                                    </details>
                                </div>
                            </div>
                            <div class="comment-bottom">
                                <div class="nickname-frame">
                                    닉네임닉네임닉네임
                                </div>
                                <div class="starpoint-frame">
                                    <div>
                                        <div class="starPointSystem">
                                            <input class="input-star-point" type="text" value="10" required="required">
                                            <div class="star-point-area">
                                                <div class="star-front"></div>
                                                <div class="star-back"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pager-container-wrapper">
                        <div class="pager-container">
                            <div class="pager-arrow">
                                <a>
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                            </div>
                            <div class="page-container">
                                <div class="page-list">
                                    <a class="page-num current-page-num">1</a>
                                    <a class="page-num">2</a>
                                    <a class="page-num">3</a>
                                    <a class="page-num">4</a>
                                    <a class="page-num">5</a>
                                </div>
                            </div>
                            <div class="pager-arrow">
                                <a>
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                            <div class="pager-navigator">1/10</div>
                        </div>
                    </div>
                    <div class="comment-form-wrapper">
                        <button class="btn-leave-comment btn-primary">댓글 남기기</button>
                        <details>
                            <summary class="summary"></summary>
                            <form>
                                <div><input type="text" hidden="hidden"></div>
                                <div>
                                    <div id="starPointSystem-i1" class="starPointSystem">
                                        <input
                                            th:value="${recentAcquaintanceSpotDto.recentSpot.registrantStarPoint}"
                                            th:name="starPoint"
                                            class="input-star-point"
                                            type="text"
                                            value="10"
                                            required="required">
                                        <div class="star-point-area">
                                            <div class="star-front"></div>
                                            <div class="star-back"></div>
                                            <div class="click-areas">
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                                <div class="click-area"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <textarea
                                        name=""
                                        id=""
                                        cols="40"
                                        rows="5"
                                        placeholder="200자 이내의 짦은 댓글을 남겨보세요"
                                        maxlength="200"></textarea>
                                </div>
                                <div>
                                    <button class="btn-leave-comment2 btn-success">입력</button>
                                </div>
                            </form>
                        </details>
                    </div>
                </div>
                <div class="layout-visitor-info col-md-6">
                    <div class="visitor-info-wrapper">
                        <div>
                            <img class="visitor-profile-img demo-img">
                        </div>
                        <div class="visitor-nickName">탐방한 사람 이름</div>
                        <div class="visitor-introduction-frame">
                            <div>
                                탐방한 사람 소개 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem
                                blanditiis id doloribus accusantium aliquam aperiam, officiis quo corrupti
                                repudiandae corporis praesentium magni quis, delectus autem omnis quod veniam.
                                Natus, omnis?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 footer">
                    <button class="btn btn-primary">
                        로그인 홈</button>
                </div>
            </div>
        </div>
        <!--부트 스트랩-->
        <script src="../../static/bootStrap/bootstrap.min.js"></script>
        <!--cummon.js-->
        <script src="../../static/common.js"></script>
        <!--specific.js-->
        <script src="../../static/js/spot.js"></script>
        <!-- fonstawesome -->
        <script src="../../static/library/fontawesome/all.js"></script>
    </body>
</html>