
* {
  box-sizing: border-box;
}
/*###################### Home ###########################*/
.home button {
  margin-top: 10px;
  width: 200px;
}



/*###################### Login Home ###########################*/
.loginHome .user-spot {
  border: 2px solid rgb(191, 191, 255);
  border-radius: 5px;
  width: 380px;
  height: 270px;
  position: relative;
  overflow: hidden;
  background-color: rgb(210, 234, 255);
  margin: auto;

}
.loginHome .spot-info, .loginHome .user-info
{
  display: inline-block;
}
.loginHome .spot-info{
  position: absolute;
  top: 10px;
  right: 10px;

  width: 220px;
  /*border: 1px solid red;*/
  padding: 5px;
  
}

.loginHome .spot-info img{
  width: 200px
}

.loginHome .user-info{
  width: 120px;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 10px;
  margin-right: 10px;
  /*border: 1px solid red;*/
}

.loginHome .user-info .img{
  margin-bottom : 10px;
}
.loginHome .user-info img{
  margin: auto;
}

.footer {
  background-color: rgb(199, 236, 189);
}


.loginHome .my-spot {

  border-radius: 15px;
  width: 360px;
  height: 270px;
  position: relative;
  overflow: hidden;
  background-color: rgb(210, 238, 197);

}

.loginHome .my-spot-info, .loginHome .my-user-info
{
  display: inline-block;
}
.loginHome .my-spot-info{
  position: absolute;
  top: 10px;
  right: 10px;

  width: 220px;
  /*border: 1px solid red;*/
  padding: 5px;
  
}

.loginHome .my-spot-info img{
  width: 200px
}

.loginHome .my-user-info{
  width: 120px;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 10px;
  /*border: 1px solid red;*/
}

.loginHome .my-user-info .img{
  margin-bottom : 10px;
}

.user-spot-slider div {
  text-align: center;
}

.slick-slide div div {
  text-align: center;
}

.loginHome .slick-next, .slick-prev {
  background-color: rgb(211, 226, 255);
}

/*######################joinForm##########################*/

.joinForm input[type="file"]{
  display:inline-block
}
#join-profile-img {
  width: 100px;
  border-radius: 50px;
}
.joinForm form {
  overflow: hidden;
  width: 500px;
  margin: 50px 0;
  display: inline-block;
}
.joinForm form div{
  float: left;
}


/*########################## loginForm ###########################*/
.loginForm h1 {
  margin-top: 100px;
  font-size: 50px;
}

.loginForm form > div{
  /* border: 1px solid red; */
  margin: auto;
  width: 300px;
  margin-top: 10px;
  position: relative;
}
.loginForm .form {
  margin-top: 20px;
}
.loginForm .form input{
  border: 1px solid lightgray;
  height: 40px;
  width: inherit;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  padding-left: 50px;
  outline: none;
  transition: 0.3s;
}
.loginForm .form input:focus {
  border: 1px solid dodgerblue;
  box-shadow: 0 0 5px dodgerblue;
}

.loginForm .form input:focus::placeholder {
  visibility: hidden;
}

.loginForm .form input:focus + label {
  background-color: dodgerblue;
}

.loginForm form label {
 display: inline-block;
 position: absolute;
 top:0;
 left:0;
 color:rgb(255, 255, 255);
 font-size: 20px;
 width: 40px;
 height: 40px;
 /* border: 1px solid blue; */
 line-height: 40px;
 transition: 0.3s;
 background-color: lightgray;
 border-radius: 5px 0 0 5px;
}

.loginForm button {
  width: 170px;
  height: 30px;
  font-size: 14px;
}

.loginForm button[type="submit"] {
  margin-top: 17px;
}

/* ############################### Spot ################################ */

.spot #main-spot-img {
  width: 250px;
}
.spot .spot-images img{
  width: 100px;
  margin: 10px;
}
.spot .img-frame{
  display: inline-block;
  height: 300px;
  border: 1px solid blue;
}
.spot .visitor-info-area{
  height : 250px;
  position: relative;
}
.spot #visitor-profile-img{
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left:30px;
}
.spot #visitor-nickName {
  position: absolute;
  top: 220px;
  left: 80px;
}
.spot .visitor-info{
  display: inline-block;
  width: 280px;
  padding-top:20px;
  position: absolute;
  top:10px;
  left: 240px; 
}
.spot .home-list {
  padding: 10px;
}
.spot .home-list div{
  display: inline-block;
}
.spot .home-list div:first-child button{
 width: 200px;
 height: 40px;
}
.spot .home-list div:last-child button{
  width: 150px;
 height: 40px;
}