/* ############### acquaintanceRequestForm ###########*/
 form {
   text-align: center;
   margin: auto;
   margin-top: 160px;
 }
 form>div{
   margin-top: 20px;
 }
 .error-message-acquaintanceAccountId {
 	font-size: 16px;
 }
 .guide-text{
  font-size: 20px; 
  margin-bottom: 20px;
  color:gray;
 }

 input{
   width: 200px;
   height: 30px;
   padding: 0 10px;
   border-radius: 5px;
   border: 1px solid gray;
   outline: none;
 }

 input:focus{
   border: 1px solid rgb(85, 201, 128);
   box-shadow: 0 0 3px rgb(87, 213, 133);
 }

 button{
   width: 100px;
  margin: 0px 3px;
}