/*###################### Login Home ###########################*/

.user-spot {
  border: 2px solid rgb(228, 228, 228);
  border-radius: 5px;
  width: 380px;
  height: 450px;
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin: auto;

}
.spot-info-right, .spot-info-left
{
  display: inline-block;
}
.spot-info-right{
  position: absolute;
  top: 10px;
  right: 10px;

  width: 220px;
  /*border: 1px solid red;*/
  padding: 5px;
  
}

.spot-info-right img{
  width: 200px;
  max-height: 200px;
}

.spot-info-left{
  width: 120px;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 10px;
  margin-right: 10px;
  /*border: 1px solid red;*/
}


.spot-info-left img{
  margin: auto;
  width: 70px;
  max-height: 70px;
}

.spot-info-left>div{
  margin-top: 5px;
}

.reliabilitySystem{
  margin: auto;
}

.spot-info-left .star-point{
  font-size: 13px;
  color: gray;
}

.spot-info-right .spot-name {
  margin-top: 10px;
} 

.spot-info-bottom{
  position: absolute;
  padding: 30px;
  top: 260px;
}

.pager-container{
  display: inline-block;
  margin: auto;
  overflow: hidden;
  font-size: 20px;
}

.pager-container > div{
  float: left;
}

.pager-arrow{
  margin-top: 3px;
  width: 60px;
  color: rgb(119, 171, 223);
}

.pager-arrow a{
  color: rgb(99, 136, 201);
  border: 1px solid rgba(108, 173, 220, 0);
  border-radius: 3px;
  display: inline-block;
  width: 30px;
}

.pager-arrow:hover a{
  color: rgb(71, 107, 169);
  border: 1px solid rgb(108, 173, 220);
  cursor: pointer;
}

.page-num{
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
  vertical-align: top;
  color: gray;
  padding: 2px;
  height: 32px;
  width: 35px;
}

.page-num:hover{
  color: rgb(84, 126, 197);
  border: 1px solid rgb(108, 173, 220);
  border-radius: 3px;
  cursor: pointer;
  /* margin-top: -1px; */
}

.current-page-num{
  color: rgb(84, 126, 197);
  font-weight: bold;
}

.pager-navigator{
  width: 50px;
  color: gray;
}

.head-text{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: gray;
}



.user-spot-slider div {
  text-align: center;
}

.slick-slide div div {
  text-align: center;
}

.slick-next, .slick-prev {
  background-color: rgb(211, 226, 255);
}

#btn-spot-registration-i1{

  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 200px;
}
#btn-my-spot-i1 {
  margin-right: 13px;
}

.btn-logout{
  margin-top: 20px;
  margin-bottom: 40px;
  width: 120px
}