/* #################################### spotListOfUser ############################################## */

/* visitor info */
.visitor-info{
  width: 200px;
  margin: auto;
}
.visitor-info > div {
  margin-top: 20px;
}
.visitor-info img{
  width: 130px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
/* spots */
.spot-area {
  margin-top: 50px;
}

.spots-wrapper{
  overflow: hidden;
}

.spot-info {
  float: left;
  width: 170px;
}
.spot-info img{
  width: 150px;
}
.spot-info > div{
  margin-top: 5px;
}

.footer {
  margin-top: 50px;
  margin-bottom: 30px;
}