/* #################################### spotListOfUser ############################################## */

/* visitor info */
.visitor-info{
  width: 200px;
  margin: auto;
}
.visitor-info > div {
  margin-top: 20px;
}
.visitor-info img{
  width: 130px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
/* spots */
.spot-area {
  margin-top: 50px;
}

.spots-wrapper{
  overflow: hidden;
}

.spot-info {
  float: left;
  width: 170px;
}
.spot-info img{
  width: 150px;
}
.spot-info > div{
  margin-top: 5px;
}

/*#########spot pager############*/
.pager-container{
  width: 343px;
  margin: auto;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.pager-container > div{
  float: left;
}

.pager-arrow{
  margin-top: 3px;
  width: 40px;
  color: rgb(119, 171, 223);
}

.pager-arrow a{
  color: rgb(99, 136, 201);
  border: 1px solid rgba(108, 173, 220, 0);
  border-radius: 3px;
  display: inline-block;
  width: 30px;
}

.pager-arrow:hover a{
  color: rgb(71, 107, 169);
  border: 1px solid rgb(108, 173, 220);
  cursor: pointer;
}

.page-num{
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
  vertical-align: top;
  color: gray;
  padding: 2px;
  height: 32px;
  width: 35px;
}

.page-num:hover{
  color: rgb(84, 126, 197);
  border: 1px solid rgb(108, 173, 220);
  border-radius: 3px;
  cursor: pointer;
  /* margin-top: -1px; */
}

.current-page-num{
  color: rgb(84, 126, 197);
  font-weight: bold;
}

.pager-navigator{
  width: 60px;
  color: gray;
  word-break: break-all;
  margin-top: 2px;
}


.footer {
  margin-top: 50px;
  margin-bottom: 30px;
}