<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--fontawesome-->
<link rel="stylesheet" th:href="@{/library/fontawesome/all.min.css}"
	href="../../static/library/fontawesome/all.min.css">
<!--부트 스트랩-->
<link rel="stylesheet" href="../../static/bootStrap/bootstrap-theme.css"
	th:href="@{/bootStrap/bootstrap-theme.css}">
<link rel="stylesheet" href="../../static/bootStrap/bootstrap.css"
	th:href="@{/bootStrap/bootstrap.css}">

<!-- slick slider-->
<link rel="stylesheet" href="../../static/library/slick/slick-theme.css"
	th:href="@{/library/slick/slick-theme.css}">
<link rel="stylesheet" href="../../static/library/slick/slick.css"
	th:href="@{/library/slick/slick.css}">

<!--css-->
<link rel="stylesheet" href="../../static/common.css"
	th:href="@{/common.css}">
<link rel="stylesheet" th:href="@{/css/loginHome.css}"
	href="/static/css/loginHome.css">

<title>loginHome</title>
</head>
<body>
	<div class="container text-center">
		<div class="row">
			<h1 class="text-shefGreen">로그인 홈</h1>
		</div>
		<div class="row">
			<div class="col-md-8 col-xs-8 head-text-top-frame">
			<h3 class="text-success" style="margin-bottom: 20px;">최근에 업데이트 된 우리들의 맛집정보!</h3>
			</div>
		</div>
		<div class="row">
			<div class="user-spot-slider">
				<div th:if="${#lists.size(recentAcquaintanceSpotDtoList)}==0">
					<div class="user-spot">
						<div class="spot-info-left text-center">
							<div class="img">

								<img class="img-circle demo-img">

							</div>
							<div>지인을<br>등록해보세요</div>
						</div>
						<div class="spot-info-right text-center">
							<div>
								<div>
									<img class="img-rounded demo-img">
								</div>
							</div>
							<div class="spot-name">지인을 등록하면<br>지인의 맛집을 볼 수 있어요.</div>

						</div>
						<div class="spot-info-bottom text-left">
							<div>지인과 함께 별점과 코멘트를 주고 받아보세요!<br>내가 올린 평점과 지인들의 평점이 비슷할 수록
								신뢰도를 올릴 수 있어요!<br>신뢰도는 전체 맛집의 평점이 계산되어 나타납니다.</div>
						</div>
					</div>
				</div>
				<div
					th:each="recentAcquaintanceSpotDto : ${recentAcquaintanceSpotDtoList}">
					<div class="user-spot">
						<div class="spot-info-left text-center">
							<div class="img">
								<a
									th:href="@{/spot/userSpotList/{userId}(userId = ${recentAcquaintanceSpotDto.acquaintance.id})}">
									<img
									th:src="@{/img/userProfile/{storeName}(storeName= ${recentAcquaintanceSpotDto.acquaintance.profileImgStoreName})}"
									th:class="img-circle" class="img-circle demo-img">
								</a>
							</div>
							<div th:text="${recentAcquaintanceSpotDto.acquaintance.nickName}">홍길동</div>
							<div class="reliabilitySystem">
								<input class="input-reliability-size" type="hidden"
									th:value="${recentAcquaintanceSpotDto.acquaintance.reliability}"
									value="-1">
								<div class="reliabilityText">신뢰도</div>
								<div class="gaugeBar">
									<div class="back"></div>
									<div class="front"></div>
								</div>
							</div>
							<div class="star-point">
								<div>
									<div>등록자 평점</div>
									<div class="starPointSystem">
										<input
											th:value="${recentAcquaintanceSpotDto.recentSpot.registrantStarPoint}"
											th:name="starPoint" class="input-star-point" type="text"
											value="10" required="required">
										<div class="star-point-area">
											<div class="star-front"></div>
											<div class="star-back"></div>
										</div>
									</div>
								</div>
								<div>
									<div
										th:if="${recentAcquaintanceSpotDto.recentSpot.usersStarPoint} == -1">
										방문 지인 없음</div>
									<div
										th:if="${recentAcquaintanceSpotDto.recentSpot.usersStarPoint} != -1">
										<div>지인들 평점</div>
										<div class="starPointSystem">
											<input
												th:value="${recentAcquaintanceSpotDto.recentSpot.usersStarPoint}"
												th:name="starPoint" class="input-star-point" type="text"
												value="10" required="required">
											<div class="star-point-area">
												<div class="star-front"></div>
												<div class="star-back"></div>
											</div>
										</div>
										<div
											th:text="'방문 ' + ${recentAcquaintanceSpotDto.recentSpot.visits}">방문수</div>
									</div>
								</div>
							</div>
						</div>
						<div class="spot-info-right">
							<div>
								<div>
									<a
										th:href="@{/spot/spot/{spotId}(spotId =${recentAcquaintanceSpotDto.recentSpot.id})}"
										href="#none"> <img
										th:src="@{/img/spotMain/{storeName}(storeName =${recentAcquaintanceSpotDto.recentSpot.mainImgStoreName})}"
										th:class="img-rounded" class="img-rounded demo-img">
									</a>
								</div>
							</div>
							<div class="spot-name text-center"
								th:text="${recentAcquaintanceSpotDto.recentSpot.spotName}">식당
								이름</div>
							<div>
								<div class="text-center"
									th:text="${#temporals.format(recentAcquaintanceSpotDto.recentSpot.registeredTime, 'yyyy-MM-dd')}">0000-00-00</div>
							</div>
						</div>
						<div class="spot-info-bottom text-left">
							<div
								th:text="${recentAcquaintanceSpotDto.recentSpot.spotIntroduction}">
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Assumenda non animi similique minus possimus? Repellat
								necessitatibus a dicta provident porro tempore quod omnis ex
								rem. Recusandae nesciunt quos illum quia voluptatibus, ea
								officiis	Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Assumenda non animi similique minus possimus? Repellat
								necessitatibus a dicta provident porro tempore quod omnis ex
								rem. Recusandae nesciunt quos illum quia voluptatibus, ea
								officiis</div>
						</div>
						<div class="is-visited">
							탐방완료
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div th:object="${spotPager}" class="pager-container">
				<div class="pager-arrow">
					<a th:href="@{/loginHome/(page=*{leftPage})}"> <i
						class="fas fa-chevron-left"></i>
					</a>
				</div>
				<div class="page-container">
					<div class="page-list">
						<a
							th:each="page: ${#numbers.sequence(spotPager.startPage,spotPager.endPage)}"
							th:classappend="${page} == *{currentPage}?'current-page-num'"
							class="page-num " th:text="${page}"
							th:href="@{/loginHome/(page=${page})}">1</a>
					</div>
				</div>
				<div class="pager-arrow">
					<a th:href="@{/loginHome/(page=*{rightPage})}"> <i
						class="fas fa-chevron-right"></i>
					</a>
				</div>
				<div class="pager-navigator"
					th:text="|*{currentPage}/*{totalPageNum}|">1/10</div>
			</div>
		</div>
		<div class="row">
			<div class="my-recent-spot">
				<div class="head-text">최근 업데이트 된 나의 맛집</div>
				<div class="user-spot">
					<div class="spot-info-left text-center">
						<div class="img">
							<a
								th:href="@{/spot/userSpotList/{userId}(userId=${loginUserDto.id})}">
								<img th:src="@{/img/loginUserProfile}" th:class="img-circle"
								class="img-circle demo-img">
							</a>
						</div>
						<div th:text="${loginUserDto.nickName}">홍길동</div>
						<div class="reliabilitySystem">
							<input class="input-reliability-size" type="hidden"
								th:value="${loginUserDto.reliability}" value="-1">
							<div class="reliabilityText">신뢰도</div>
							<div class="gaugeBar">
								<div class="back"></div>
								<div class="front"></div>
							</div>
						</div>
						<div class="star-point" th:if="${loginUserRecentSpotDto}!=null">
							<div>
								<div>등록자 평점</div>
								<div class="starPointSystem">
									<input
										th:value="${loginUserRecentSpotDto.registrantStarPoint}"
										th:name="starPoint" class="input-star-point" type="text"
										value="10" required="required">
									<div class="star-point-area">
										<div class="star-front"></div>
										<div class="star-back"></div>
									</div>
								</div>
							</div>
							<div>
								<div
									th:if="${loginUserRecentSpotDto.usersStarPoint} == -1">
									방문 유저 없음</div>
								<div
									th:if="${loginUserRecentSpotDto.usersStarPoint} != -1">
									<div>유저들 평점</div>
									<div class="starPointSystem">
										<input th:value="${loginUserRecentSpotDto.usersStarPoint}"
											th:name="starPoint" class="input-star-point" type="text"
											value="10" required="required">
										<div class="star-point-area">
											<div class="star-front"></div>
											<div class="star-back"></div>
										</div>
									</div>
									<div th:text="'방문 ' + ${loginUserRecentSpotDto.visits}">방문수</div>
								</div>
							</div>
						</div>
					</div>
					<div class="spot-info-right">
						<div>
							<div>
								<a th:if="${loginUserRecentSpotDto}!=null"
									th:href="@{/spot/spot/{spotId}(spotId = ${loginUserRecentSpotDto.spotId})}">
									<img th:src="@{/img/loginUserRecentRegisterationSpot}"
									th:class="img-rounded" class="img-rounded demo-img">
								</a> <img th:if="${loginUserRecentSpotDto}==null"
									class="img-rounded demo-img">
							</div>
						</div>
						<div class="spot-name text-center"
							th:text="${loginUserRecentSpotDto}?${loginUserRecentSpotDto.spotName}:'맛집을 등록해주세요'">식당
							이름</div>
						<div th:if="${loginUserRecentSpotDto}!=null">
							<div class="text-center"
								th:text="${#temporals.format(loginUserRecentSpotDto.registeredTime, 'yyyy-MM-dd')}">0000-00-00</div>
						</div>
					</div>
					<div class="spot-info-bottom">
						<div class="text-left" 
						    th:if="${loginUserRecentSpotDto}!=null"
							th:text="${loginUserRecentSpotDto.spotIntroduction}">Lorem
							ipsum dolor sit amet consectetur adipisicing elit. Assumenda non
							animi similique minus possimus? Repellat necessitatibus a dicta
							provident porro tempore quod omnis ex rem. Recusandae nesciunt
							quos illum quia voluptatibus, ea officiis</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row footer">
			<div class="col">
				<div>
					<button id="btn-spot-registration-i1" class="btn-shefGreen"
						type="button" onclick="location.href='/spot/registeration'">맛집
						등록하기</button>
				</div>
				<div>
					<button id="btn-my-spot-i1" class="btn-shefGreen"
						th:onclick="|location.href='@{/spot/userSpotList/{userId}(userId = ${loginUserDto.id})}'|"
						type="button" onclick="location.href='/spot/mySpotList'">나의
						맛집</button>
					<button id="btn-my-acquaintance-i1" class="btn-shefGreen"
						type="button"
						onclick="location.href='/aquaintance/myAcquaintanceList'">지인
						리스트</button>
				</div>
				<div>
					<button class="btn-shefGreen btn-login-user-info" type="button"
						onclick="location.href='/user/myInfo'">내 정보</button>
					<button class="btn-shefGreen btn-logout" type="button"
						onclick="location.href='/login/logout'">로그아웃</button>
				</div>
			</div>
		</div>
	</div>
	<!--jQuery-->
	<script src="../../static/library/jquery-2.1.4.js"
		th:src="@{/library/jquery-2.1.4.js}"></script>
	<!--cummon.js-->
	<script src="../../static/common.js" th:src="@{/common.js}"></script>
	<!--slik slider-->
	<script src="../../static/library/slick/slick.js"
		th:src="@{/library/slick/slick.js}"></script>
	<!--custom.js-->
	<script th:src="@{/js/loginHome.js}" src="../../static/js/loginHome.js"></script>
	<!--fontawesome-->
	<script th:src="@{/library/fontawesome/all.js}"
		src="../../static/library/fontawesome/all.js"></script>
</body>
</html>