<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--jQuery-->
        <script src="../../static/library/jquery-2.1.4.js"></script>

        <!--부트 스트랩-->
        <link rel="stylesheet" th:href="@{/bootStrap/bootstrap-theme.css}" href="../../static/bootStrap/bootstrap-theme.css">
        <link rel="stylesheet" th:href="@{/bootStrap/bootstrap.css}" href="../../static/bootStrap/bootstrap.css">

        <!--common -->
        <link rel="stylesheet" th:href="@{/common.css}" href="../../static/common.css">

        <!--specific-->
        <link rel="stylesheet" th:href="@{/css/acquaintanceList.css}" href="../../static/css/acquaintanceList.css">

        <title>AcquaintanceList</title>
    </head>
    <body>
        <form id="form-i1" action="#none">
            <div class="container">
                <div class="row text-center text-shefGreen">
                    <h3>나의 지인 리스트</h3>
                </div>
                <div class="row text-center">
                    <ul>
                        <li>
                            <span><img class="demo-img" alt="프로필 사진"></span>
                            <span class="user-info">
                                <div class="wrapper">
                                    <div class="nickName">닉네임</div>
                                    <div class="reliabilitySystem">
                                        <input class="input-reliability-size" type="hidden" value="-1">
                                        <div class="reliabilityText">신뢰도</div>
                                        <div class="gaugeBar">
                                            <div class="back"></div>
                                            <div class="front"></div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                            <span class="btn-frame">
                                <button class="btn-subGreen" type="button">맛집 보기</button>
                            </span>
                            <span class="input-wrapper">
                                <input class="input-delete" type="checkbox">
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="btns">
                        <button class="btn-shefGreen" type="button">이전으로</button>
                        <button class="btn-shefGreen btn-acquaintance-delete" type="button">지인삭제</button>
                        <div class="message-component-wrapeer">
                            <div class="new-message-pop">10</div>
                            <button class="btn-shefGreen btn-message-box">
                                메세지함
                            </button>
                        </div>
                        <button class="btn-shefGreen">친분맺기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--부트 스트랩-->
    <script th:src="@{/bootStrap/bootstrap.min.js}" src="../../static/bootStrap/bootstrap.min.js"></script>
    <!--common.js-->
    <script th:src="@{/common.js}" src="../../static/common.js"></script>
    <!--specific.js-->
    <script th:src="@{/js/acquaintanceList.js}" src="../../static/js/acquaintanceList.js"></script>

</body>
</html>