<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>지인 신청하기</title>

  <!-- common -->
  <link rel="stylesheet" href="/static/common.css">
  <!-- specific -->
  <link rel="stylesheet" href="../../static/css/acquaintanceRequestForm.css">

</head>
<body>
  <form action="#none">
    <div>
      <img class="demo-img" style="width: 150px; border-radius: 50%;">
    </div>
    <div class="guide-text">지인 아이디를 입력해주세요</div>
    <div><input type="text"></div>
    <div> 
      <button class="btn-shefGreen">지인신청</button> 
      <button class="btn-shefGreen">취소</button>
    </div>
  </form>

  <!-- common -->
  <script src="../../static/common.js"></script>
</body>
</html>