<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SpotDelete Confirm</title>
  <!-- bootStrap -->
  <link rel="stylesheet" th:href="@{/bootStrap/bootstrap-theme.css}" href="../../static/bootStrap/bootstrap-theme.css">
  <link rel="stylesheet" th:href="@{/bootStrap/bootstrap.css}" href="../../static/bootStrap/bootstrap.css">
  <!-- common -->
  <link rel="stylesheet" th:href="@{/common.css}" href="/static/common.css">
  <!-- specific -->
  <link rel="stylesheet" th:href="@{/css/spotDeleteConfirm.css}" href="../../static/css/spotDeleteConfirm.css">
</head>
<body>
  <div class="container">
    <div class="row text-success">맛집이 삭제되었습니다.</div>
    <div class="row">
      <button class="btn-shefGreen" onclick="location='/'">확인</button>
    </div>
  </div>
  <!-- bootstrap -->
  <script th:href="@{/bootStrap/bootstrap.min.js}" src="../../static/bootStrap/bootstrap.min.js"></script>
</body>
</html>